<!DOCTYPE html>
	<html>
		<head>
			<body style="background-color:powderblue;">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/publication">Publication</a></li>
	        		<li><a href="/blog/">Research note</a></li>
					<li><a href="/teaching/">Teaching</a></li>
					

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
<h5> Copyright 2015-2016 by Xiao Feng </h5>
			</footer>
		</body>
	</html>
